*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    font-size: 45px;
}

h1:hover{
    color: cadetblue;
    text-decoration: underline;
    transition: .5s;
    transform: skew(-45deg);
}